<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pagina-inicio","layout":{"type":"default"}} -->
<main class="wp-block-group pagina-inicio"><!-- wp:pattern {"slug":"davidtheme/hero"} /-->

<!-- wp:pattern {"slug":"davidtheme/services"} /-->

<!-- wp:pattern {"slug":"davidtheme/partners"} /-->

<!-- wp:pattern {"slug":"davidtheme/cta"} /-->

<!-- wp:pattern {"slug":"davidtheme/blog"} /-->

<!-- wp:pattern {"slug":"davidtheme/contact"} /-->

<!-- wp:pattern {"slug":"davidtheme/clients"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
